* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "urbanist";
}

body {
  background-color: #000;
}

h1,h2,h3,h4,h5,h6 {
  color: #fff;
}

p,li,a,button {
  letter-spacing: 0.1rem;
  line-height: 1.6;
  color: #fff;
}

li {
  list-style: none;
}

a {
  color: #000;
}

a:hover {
  color: #2e86c1;
}

button {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  padding: 0.6rem 2.4rem;
  text-align: center;
  outline: none;
  border: none;
  text-transform: unset;
  transition: all 0.3s ease-in-out;
  background: #202020;
  color: #fff;
  border-radius: 1.5rem;
}

/* Layout */
.container {
  max-width: 1000rem;
  margin: auto;
}

.grid {
  display: grid;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* Layout */
header {
  position: fixed; /* Make the header fixed */
  top: 0; /* Position it at the top */
  left: 0; /* Position it at the left */
  width: 100%; /* Make it span the full width */
  height: 5rem;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  background-color: #202020;
  z-index: 1000; /* Ensure it stays above other content */
}

.navbar-grid {
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  height: 5rem;
  padding: 0 3.2rem;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 3.2rem;
  color: #fff;

  & li a {
    color: #fff;
  }
}

.ham-menu{
  display: none;
}





